/* Comment Container */

.comment-section {
  max-width: 95vw;
  padding: 2rem;
  margin: 0 auto;
}

.comment-header-text > h2 {
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
}

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Comment Item */
/* ito yung part ng css that handles each comment item. so you can edit the selector names here and how it should look like. */

ul.comment-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.comment-list li {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
}

.comment-icon {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.fa-user-circle {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--text-primary);
}

.comment-content {
  width: 90%;
  height: 100%;
}

.comment-text > p {
  word-wrap: break-word;
  margin-bottom: 0.5rem;
}
.comment-name {
  height: 20%;
  display: flex;
  margin-bottom: 0.5rem;
}

.comment-name > h2 {
  font-weight: 700;
  font-size: 0.8rem;
  margin-right: 0.2rem;
}

.comment-text {
  display: flex;
  width: 100%;
  height: 80%;
  flex-wrap: wrap;
}

.comment-text > p {
  font-size: 0.8rem;
}

/* Modal Style */

/* ito yung selector na magchchange ng position ng modal. if wala yung --after-open, yan yung selector niya if nakaclose pa */
.ReactModal__Overlay--after-open {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* this just removes the black outline when you are selecting a specific part */

.ReactModal__Overlay--after-open:focus,
.modal-body:focus {
  outline: none;
}

/* this is where you can edit how the modal will look*/
.modal-body {
  width: 80%;
  background-color: var(--bg-primary);
  height: 70%;
  border-radius: 3px;
}

.modal-header {
  height: 20%;
  width: 100%;
  padding: 1rem;
}

.modal-header > h2 {
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
}

.modal-header > p {
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
}

.form-container {
  width: 100%;
  padding: 1rem;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-container label {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

.input-container input {
  margin-bottom: 0.3rem;
  background: var(--bg-primary);
  border: solid 1px #333;
  height: 1.5rem;
  padding: 0.2rem;
}

.input-container textarea {
  background-color: var(--bg-primary);
  border: solid 1px #333;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

.modal-btn {
  height: 20%;
  width: 100%;
  padding: 1rem;
}

.btn-write {
  width: 4rem;
  height: 2rem;
  background-color: var(--text-primary);
  color: #fff;
  border: solid 1px var(--text-primary);
  border-radius: 5px;
  margin-right: 0.8rem;
  cursor: pointer;
}

.btn-write:hover {
  background-color: #3f939b;
  border: #3f939b;
}

.btn-cancel {
  width: 4rem;
  height: 2rem;
  background-color: rgb(92, 0, 0);
  color: #fff;
  border: solid 1px rgb(92, 0, 0);
  border-radius: 5px;
  margin-right: 0.8rem;
  cursor: pointer;
}
.btn-cancel:hover {
  background-color: rgb(145, 0, 0);
  border: rgb(145, 0, 0);
}

.btn-modal-trigger {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border: solid 3px var(--text-primary);
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.comment-btn {
  vertical-align: center;
}

.btn-edit {
  background-color: none;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
}

.fa-edit {
  color: rgb(0, 99, 0);
}

.btn-trash {
  background-color: none;
  border: none;
  cursor: pointer;
}

.fa-trash-alt {
  color: rgb(161, 0, 0);
}

@media screen and (min-width: 768px) {
  .comment-section {
    max-width: 90vw;
  }
  .comment-icon {
    width: 5%;
  }

  .modal-body {
    max-width: 45vw;
  }
}
