.footer {
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  font-size: 0.8rem;
}

.footer-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgb(177, 177, 177);
  padding: 1rem;
}

.footer-contact {
  padding: 1rem;
}

.foot-logo {
  color: rgb(177, 177, 177);
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .footer-name {
    display: none;
  }
}
