.section-container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.dark {
  background-color: var(--text-primary);
}

.sec-orie {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reverse {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.img-area {
  height: 35%;
  width: 100%;
}

.section-img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.text-area {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  justify-content: center;
  align-items: flex-start;
}

.top-line {
  color: var(--light-green);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.top-line-dark {
  color: var(--text-primary);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.sub-header {
  color: #fff;
  margin-bottom: 2rem;
  font-style: italic;
}

.sub-header-dark {
  color: var(--text-primary);
  margin-bottom: 2rem;
  font-style: italic;
}

.text-content {
  color: #fff;
  font-weight: 300;
}

.text-content-dark {
  color: var(--text-primary);
  font-weight: 300;
}

.text-area > h3 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .section-container {
    height: 60vh;
  }
  .sec-orie {
    flex-direction: row;
  }

  .text-area {
    height: 100%;
    width: 50%;
  }

  .img-area {
    height: 100%;
    width: 50%;
  }

  .reverse {
    flex-direction: row-reverse;
  }
}
